.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Repo-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5px;
  list-style: none;
}

.Repo-card {
  padding: 2px;
  margin: 5px;
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Repo-item {
  margin: 5px;
}

.Commit-details {
  background-color: bisque;
  color: #282c34;
  padding: 5px;
}

button {
  background-color: #282c34;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Title {
  font-size: 1.5em;
  font-weight: bold;

}